{% if vsphere_deploy_vm_name in hostvars %}
{% for hostname in hostvars %}
{% if hostname != vsphere_deploy_vm_name %}
{% if hostvars[vsphere_deploy_vm_name]['hostname'] %}
{% set error = "sucessfull, possibility due to Undefined host. Please ensure your client name is correct." %}
Server Build request for {{ vsphere_deploy_vm_name }} is {{ okay }}
{% endif %}
{% endif %}
{% endfor %}
{% else %} 
{% set error = "Unsucessfull, possibility due to Undefined host. Please ensure your client name is correct." %}
Server Build request for {{ vsphere_deploy_vm_name }} is {{ error }}
{% endif %}